map/pass_seial
map/pass_openmp
map/pass_tbb
map/pass_cilk
collective/crypto_serial
collective/crypto_openmp
collective/crypto_tbb
collective/crypto_cilk
collective/encryptedOut
collective/decryptedOut
data_reorg/matmul_serial
data_reorg/matmul_reorg
data_reorg/matmul_openmp
data_reorg/matmul_openmp_reorg
stencil/stencil_serial
forkjoing/forkjoin_serial
pipeline/pipeline_serial

